# Ignore files and folders for version control

# Ignore documentation files
_gh_pages/
_site/

# Ignore Ruby files
.ruby-version
.bundle/
vendor/cache/
vendor/bundle/

# Ignore various always-ignore extensions
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*.zip
*~

# Ignore OS or Editor folders and files
._*
.cache/
.DS_Store
.idea/
.project
.settings/
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
nbproject/
Thumbs.db

# Ignore Komodo files
.komodotools/
*.komodoproject

# Ignore Jekyll metadata and extra config file for `github` script
docs/.jekyll-metadata
twbsconfig.yml

# Ignore folders
node_modules/
