# Enforce Unix newlines and set encoding to UTF-8
[*]*.css text eol=lf encoding=utf8
[*]*.html text eol=lf encoding=utf8
[*]*.js text eol=lf encoding=utf8
[*]*.json text eol=lf encoding=utf8
[*]*.md text eol=lf encoding=utf8
[*]*.rb text eol=lf encoding=utf8
[*]*.scss text eol=lf encoding=utf8
[*]*.svg text eol=lf encoding=utf8
[*]*.txt text eol=lf encoding=utf8
[*]*.yml text eol=lf encoding=utf8

# Don't diff or textually merge source maps
*.map binary

# Mark bootstrap files as vendored
bootstrap.css linguist-vendored=true
bootstrap.js linguist-vendored=true
